.section {
  
}
.container {
  max-width: var(--wrapper-width);
  margin: auto;
}

.Header {
  background: var(--gradient-primary);
  padding: var(--size-3); // 12px
  > .logo img {
    height: var(--size-10); // 40px
  }
}
