.section {
  
}
.container {
  max-width: var(--wrapper-width);
  margin: auto;
}

.Header {
  background: var(--gradient-primary);
  padding: var(--size-2) var(--size-8);
  > .logo img {
    height: var(--size-10);
  }
}
